* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

h3 {
    padding-bottom: 0;
}

li {
    list-style: none;
}
    
a {
    text-decoration: none;
    color: #FF6060;
}

