@import '../sass/mixin.scss';
@import '../sass/variable.scss';
@import '../sass/global.scss';

.AboutMain{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    margin: 2%;
    border: solid 1px blue;
}


// QUERY - VERSION MOBILE 

@media (max-width: 750px) {
    .AboutMain{
        padding-right: 0;
        padding-left: 0;
    }
}