@import '../sass/mixin.scss';
@import '../sass/variable.scss';
@import '../sass/global.scss';

.HomeMain{
    @include borderRadius;
    background-color: $Grey;
    margin: 4% 5% 2% 5%;
    padding-left: 5.5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

// MEDIA QUERY //

@media (max-width:750px) { // a modif
    .HomeMain{
        background-color: $White;
        margin-left: 0;
    }
}