@import '../sass/mixin.scss';
@import '../sass/variable.scss';
@import '../sass/global.scss';


.info { //contient tout
    width: 90%;
    margin: 0 auto;
} 

.infoLocation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .infoLocationPlace {
        width: 100%;
    }

    .infoLocationTitle {
        font-size: 36px;
        font-weight: 500;
        padding-bottom: 1%;
        color: $Red;
    }

    .infoLocationCity {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 2%;
        line-height: 25px;
        color: $Black;
    }

    .infoLocationTags {
        display: grid;
        grid-auto-flow: column;
        gap: 3%;
        padding-bottom: 2%;
        width: 50%;
    }
}

.infoLocationOther {
    width: 50%;

    display: flex;
    flex-direction: column;

        .infoLocationHost {
            display: flex;
            justify-content: flex-end;
            color: $Red;

        }

        .infoNotationHost {

            display: flex;
            justify-content: flex-end;
        }

        
}

.collapse-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 0;

    .collapse-menu {
        width: calc(50% - 10px); 
        margin-bottom: 20px; 

        .collapse-menu-bar {
            width: 100%;
            border: solid 2px rgb(0, 255, 149);
            height: 52px;
            background-color: $Red;
            @include collapseBorderRadius;
            display: flex;
            align-items: center;
            padding: 0 15px;

            .collapse-menu-title {
                font-size: 18px;
                font-weight: 700;
                color: white;
            }
        }    
    }
}
/////////////////////////////////////////////////////////////////
/* Styles pour les tablettes */
@media (min-width: 769px) and (max-width: 1024px) {
    
  }
  
  
  /* Styles pour les appareils mobiles et les petites tablettes */
  @media (max-width: 768px) { 
  
  }  
  