@import '../sass/mixin.scss';
@import '../sass/variable.scss';
@import '../sass/global.scss';

.cardContainer {
  position: relative;
  width: 30%;
  height: 340px;

  .galleryCard {
    position: relative;
    text-align: left;
    text-decoration: none;
    color: $White;
    overflow: hidden; 

    img {
      @include collapseBorderRadius;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative; 
      z-index: 0; 
    }

    .mask {
      margin-bottom: 5px;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 340px;
      background: linear-gradient(180deg, #fff0, #0a0a0a00 42%, #04040480 80%, #0009);
      @include collapseBorderRadius;
      z-index: 1; 
    }

    h2 {
      width: 70%;
      position: absolute;
      bottom: 10px;
      padding: 10px;
      font-size: 16px;
      z-index: 2; 
    }
  }
}



///////////////////////////////////////////////////////////////////////////////////////

/* Styles pour les tablettes */
@media (min-width: 769px) and (max-width: 1024px) {
  .cardContainer {
    width: 45%;
  }
}


/* Styles pour les appareils mobiles et les petites tablettes */
@media (max-width: 768px) { 
  .cardContainer{
    width: 100%;
    height: 255px;
    object-fit: cover;
  }
} 

