@import '../sass/mixin.scss';
@import '../sass/variable.scss';

.Footer {
    width: 100%;
    height: 80px;
    color: $White;
    background-color: $Black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
        .LogoWhite{
            height: 30px;
            width: auto;
            padding-bottom: 5px;
        }
        .FooterText{
            font-size: 10px;
        }
}