@import "../sass/mixin.scss";
@import "../sass/variable.scss";
@import '../sass/global.scss';

.infoHost {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;

    .infoHostName {
        word-spacing: 100vw;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        text-align: end;
        font-weight: 500;
    }

    .infoHostPicture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
}

 ///////////////////////////////////////////////////////////////////////////////////////
  
/* Styles pour les appareils mobiles et les petites tablettes */
@media (max-width: 768px) { 
    .infoHost {
        .infoHostName {
            font-size: 12px;
        }

        .infoHostPicture {
            width: 32px;
            height: 32px;
        }
    }
}  
