@import '../sass/mixin.scss';
@import '../sass/variable.scss';
@import '../sass/global.scss';

.Navbar {
    padding-left: 5%;
    padding-top: 2%;
    @include FlexAndSpace;
    align-items: center;
    padding-right: 5%;

    .NavbarLink {
        width: 15%;
        @include FlexAndSpace;

        .activeLink, .inactiveLink &:active {
            border-bottom: 2px solid $Red;
        }
    }

    .logored {
        width: 120px;
    }
}

// MEDIA QUERY //

@media (max-width: 750px) { //a modif
    .Navbar {
        .NavbarLink {
          width: 50%;
        }
      }
} 