@import '../sass/mixin.scss';
@import '../sass/variable.scss';
@import '../sass/global.scss';

.Navbar {
    padding-left: 5%;
    padding-top: 2%;
    @include FlexAndSpace;
    align-items: center;
    padding-right: 5%;

    .logored {
        width: 210px;
    }

    .NavbarLink {
        width: 25%;
        font-size: 24px;
        font-weight: 500;
        @include FlexAndSpace;

        .activeLink, .inactiveLink {
            margin-left: auto; 
        }

        .activeLink, .inactiveLink &:active {
            border-bottom: 1px solid $Black;
        }
    }

    
}

///////////////////////////////////////////////////////////////////////////////////////

/* Styles pour les tablettes */
@media (min-width: 769px) and (max-width: 1024px) {
    .Navbar {
        .logored {
            width: 145px;
        }

        .NavbarLink {
            width: 32%;
        }
    }
}


/* Styles pour les appareils mobiles et les petites tablettes */
@media (max-width: 768px) { 
    .Navbar {

        .logored {
            width: 140px;
        }
        
        .NavbarLink {
            width: 52%;
            font-size: 12px;

            .activeLink, .inactiveLink {
                text-transform: uppercase;
            }
        }
    }
} 