@import '../sass/mixin.scss';
@import '../sass/variable.scss';
@import '../sass/global.scss';

.notationHost {
    width: 200px;
    margin-top: 20px; 
    display: flex;
    justify-content: space-between;
    & img {
        height: 25px;
    }
}

 ///////////////////////////////////////////////////////////////////////////////////////  
/* Styles pour les appareils mobiles et les petites tablettes */
@media (max-width: 768px) { 
    .notationHost {
        width: 98px;

        & img {
            height: 13px;
        }
    }
}  